    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/electrician-1.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">Best Electric & More <br> ROC # 324098</span>
                        <hr class="star-light">
                        <span class="skills">Eletrical Work - Handyman Jobs</span>
                    </div>
                </div>
            </div>
        </div>
    </header>